<footer id="footer" class="footer">
    <div class="container">
        <div class="row ">
            <div class="col-xs-4 company-infos">
                <h3 class="text-center"><span class="glyphicon glyphicon-map-marker red-icon"></span></h3>
                <p class="text-center">225 Shoreline Blvd</p>
                <p class="text-center">California 94043</p>
            </div>
            <div class="col-xs-4 company-infos">
                <h3 class="text-center"><span class="glyphicon glyphicon-envelope green-icon"></span></h3>
                <p class="text-center">contact@travellink.com</p>
            </div>
            <div class="col-xs-4 company-infos">
                <h3 class="text-center"><span class="glyphicon glyphicon-phone blue-icon"></span></h3>
                <p class="text-center">&nbsp;02 35 00 00 00</p>
            </div>
        </div>
    </div>
</footer>