{% extends "::layout/membre.html.twig" %}



{% block body %}
    {% if membre.voyages|length > 0 %}

        <section class="user-map-countries">
            <h3>Carte des pays visités</h3>
            <div id="regions_div"></div>
        </section>

        <section class="">

        </section>
    {% endif %}

{% endblock %}

            {% block subbody %}
                {% if membre.voyages|length > 0 %}
                    <section class="user-map-markers">
                        <h3>Ou est allé {{ membre.username }} ?</h3>
                        <div id="map_wrapper">
                            <div id="map_canvas" class="mapping"></div>
                        </div>
                    </section>
                {% endif %}
            {% endblock %}


{% block javascripts %}

    {% if membre.voyages|length > 0 %}

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="{{ asset('js/mapMarkers.js') }}"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages': ['geomap']});
            google.charts.setOnLoadCallback(drawMap);

            var JsVars = jQuery('#js-vars').data('vars');
            var usrDataCountries = JsVars.dataCountries;

            function drawMap() {
                var data = google.visualization.arrayToDataTable(usrDataCountries);

                var options = {};
                options['dataMode'] = 'regions';

                var container = document.getElementById('regions_div');
                var geomap = new google.visualization.GeoMap(container);

                geomap.draw(data, options);
            }
        </script>
    {% endif %}

{% endblock %}
