@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
.body-custom{
    background:url("/symfonyroadtrip2/web/img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:auto;
}
body{
    font-family: "Helvetica Neue" ;
}

.img-center{
    margin:0 auto;
}


/* MASQUE LA BARRE DE DEBUG FOIREE */
.sf-toolbar-clearer{
    display:none !important;
    height : 0px !important;
}

/* configuration sticky footer */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 210px !important;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height:210px;
    background-color: #f5f5f5;
}
/*end sticky footer */


.btn-alert{
    background-color: #e50000;
    color:white;
}
.btn-alert:hover{
    color: #fff !important;
    background-color:#b20000;
    border-color: lightgrey;
    transition:0.5s;
}
.btn-alert a:hover,
.btn-alert a:active,
.btn-alert a:hover,
.btn-alert a:focus{
    text-decoration: none !important;
    color:white;
}
/*HOMEPAGE LAST USERS DETAILS */
.user-details> p.info-user{
    color:#506066;
    font-size:12px;
    margin-bottom: 5px;
}

.user-details> p.name-user{
    font-size:18px;
    font-weight:bold;
}
p.name-user>a {
    color:#272727;
}
p.name-user>a:hover{
    text-decoration:none;
    color:#1b95e0;
    transition: 1s;
}

/* /HOMEPAGE  */


/*HOMEPAGE AUTOCOMPLETE BOX */
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.8s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.8s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}
.search-query:focus{
    width: 260px;
}
.list-group-item:hover{
    cursor: pointer;
}
.media-left{
    display: inline-block;
}
#center{
    margin-top:10px;
    display: inline;
}
#favorites{
    margin-left: -5px
}
#fav{
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Favorites";
}
/* ./HOMEPAGE AUTOCOMPLETE BOX */
.header-content-wrap{
    padding-top:250px;
    padding-bottom: 370px;
    background: rgba(0, 0, 0, 0.5);
}
.sub-header-wrapper{

    background: rgba(0, 0, 0, 0.5);
}

.alert{
    padding:6px !important;
}


#bannerHp{
    max-height: 50em;
    min-height: 15em;
    width:100%;
}

.homepageFonts{
    font-family: "helvetica";
    color:white;
    position:relative;
    text-align: center;
}
.text-white{
    color: #ffffff;
}

.last-users .users{
    padding-top: 40px;
    padding-bottom: 50px;
}
.header-homepage{
    text-align: center;
    padding-bottom: 90px;
    color:#404040;
}
.header-homepage > h1{
    font-size:55px;
    font-weight: 700;
}

.header-homepage > h2{
    font-size:45px;
    text-transform: uppercase;
    font-weight: 700;
}
.header-homepage > h3{
     font-size:30px;
 }
.header-homepage > h4{
    font-size:15px;
}

.header-register{
    padding-bottom: 30px;
    color:#404040;
}

.header-register > h1{
    font-size:45px;
    font-weight: 700;
}

/* SECTIONS DE LA HOMEPAGE */
.user-reviews {
    padding-bottom: 130px;
    padding-top: 90px;
    background-color: white;
}

.last-trips{
    padding-bottom: 200px;
    padding-top: 100px;

}
.trip-details{
    padding-top: 50px;
    padding-bottom: 50px;
}
.last-users{
    padding-top: 120px;
    padding-bottom: 170px;
    background: #f0f5f1;

}

.company-infos{
    padding-top:30px;
    padding-bottom: 15px;
}

/* ./SECTIONS DE LA HOMEPAGE */

/* SECTIONS PAGE REGISTER, PAGELOGIN */
.register{
    padding-top:100px;
    padding-bottom: 100px;
}

.register h1{
    font-size:35px;
    font-weight: 700;
    padding-bottom: 40px;
}
.register input{
    margin-bottom: 20px;
}

.login{
    padding-top:50px;
    padding-bottom: 100px;
}
/* ./SECTIONS REGISTER,LOGIN */


/*  SECTIONS NEW VOYAGE */

.new-trip-header{
    padding-top:50px;
}

.new-trip{
    padding-top:60px;
    padding-bottom: 80px;
}

.title-new-trip{
    color:darkgray;
    font-size:45px !important;
    min-height:60px !important;
    border:none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.form-trip .row {
    margin-bottom: 50px;
}

.title-new-trip:focus{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}




/* ./SECTIONS NEW VOYAGE */


/* SECTIONS CONSULTATION VOYAGE */

.see-trip{
    padding-bottom: 100px;
}
.see-trip-header{
    padding-top:50px;
}

/* ./SECTIONS CONSULTATION VOYAGE */


#footer{
    background-color:#272727;
    color:#939393;
}

.red-icon{
    color:#e96656
}

.green-icon{
    color:#3BC8A2;
}
.blue-icon{
    color:#00aced !important;
}
.white-icon{
    color:#ffffff;
}


#avisUserParagraph{
    font-style:italic;
    font-size:12px;
    margin-top:3em;
}
.nameAvisUser{
    margin-left: 1em;
    display: inline-block;
    font-weight: bold;
    font-size:18px;
}
.nameAvisUser a{
    color:black;
}

.nameAvisUser a:hover{
    text-decoration:none;
    color:#1b95e0;
    transition: 1s;
}


.lastTripHeader{
    display: inline-block;
    font-weight:bold;
    font-size:20px;
    margin-bottom:3.5rem;
}

/* NAVBAR */

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a{
    background:transparent !important;
    box-shadow: none !important;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#00aced !important;
    transition: 1s;
}

.navbar{
    padding-left: 15px;
    padding-right: 40px;
}

li.active>a:before
{
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 75%;
    height: 2px;
    background: #1b95e0;
    bottom: 0px;
    left: 12.5%;
}
/* NAVBAR REGISTERING DROPDOWN */
#login-dp{
    min-width: 250px;
    padding: 28px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom,
#profile-dp .bottom{
    background-color:rgba(255,255,255,.9);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/* NAVBAR PROFILE DROPDOWN */
#profile-dp{
    min-width: 250px;
    padding: 28px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.9);
}

/* ./ NAVBAR */

#btnSearchHp{
    padding: 12px 24px;
}
.btn-custom{
    color: white;
    background-color: #00aced;
    border-color: lightgrey;
    transition:0.5s;
}
.btn-custom:hover{
    color: #fff !important;
    background-color:#0084b4;
    border-color: lightgrey;
    transition:0.5s;
}
.btn-custom a:hover,
.btn-custom a:active,
.btn-custom a:hover,
.btn-custom a:focus{
    text-decoration: none !important;
    color:white;
}

.profilNavTitle{
    font-size:12px;
    display:block;
}
.profilNavNumbers{
    font-size:16px;
    font-weight: bold;
    display:block;
}

#profilPictureMember{
    position:relative;
    top:-7.5em;
}

#coverPicMembre{
    width:100%;
    max-height: 60vh;
}

.member-cover:hover{
    transition: 0.2s all;
}

.overlay-member-cover{
    color:white;
    margin-top: -25vh;
}
.overlay-member-cover p {
    font-size: 42px;
    font-weight: 600;
    padding-left: 2em;
    padding-bottom: 0 !important;
}

#wrapper-btn-cover{
    line-height: 4em;
}

#btn-cover-img{
    font-size: 55px;
}

#btn-valid-cover{

}
.overlay-member-cover input{
    position:relative;
    opacity:0;
    width:55px;
    height:35px;
    top:-4.5vh;
}
.overlay-member-cover input:hover{
    cursor:pointer !important;
}

.overlay-member-cover .col-xs-1:hover{
    cursor:pointer;
}
.overlay-member-cover p{
    margin: 0 !important;
}

#blocPresentationMembre{
    position:relative;
    top:-6em;
}
.pseudoMembre{
    font-size:25px;
    font-weight:bold;
}
#descriptionMembre{
    padding-right: 2rem;
}
.identifiantMembre {
    color: #8899a6;
    font-size: 12px;
}
.contactMemberBtn{
    padding-top:1em !important;
    padding-bottom:1em !important;
}
.memberPostStep{
    padding-bottom: 2em;
    border-bottom: 1px solid #d8e5e9;
}

.memberPostStep:hover{
    background-color: #e9f0f0;
    cursor:pointer;
}

.marginPictureMember{
    margin-top: 0.5em;
}

.inline{
    display:inline-block;
}

.no-margin{
    margin:0;
}

/* Page membre / onglet voyages / vignettes */

.titleVoyage{
    background-color: lightgray;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight:bold;
    margin-bottom: 0;
}

.registerFormRow{
    margin-top: 2.5em;
}

#navbarRegister {
     background: #00aced; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(left, #00aced , #3BC8A2); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(right, #00aced,#3BC8A2); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(right, #00aced, #3BC8A2); /* For Firefox 3.6 to 15 */
     background: linear-gradient(to right, #00aced , #3BC8A2); /* Standard syntax */
 }

#glyphicon-home-register{
    font-size:25px;
    color:white;
}


#navbarRegisterCollapse > a,
#navbarRegisterCollapse > a:hover,
#navbarRegisterCollapse > a:focus {
    border-bottom: none !important;
    background-image: inherit;
}


.trip-wrapper{
    padding-top: 25px;
}

.invisible div{
    display:none !important;
}

.top-buffer {
    margin-top:20px;
}

/* CUSTOM UPLOAD FILE */
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #1fa67b;
}

/* CUSTOM BUTTON FOLLOW */

.toggle-button {
    margin: 0 20px; }

/*
 * Toggle button styles
 */
.toggle-button {
    position: relative;
    display: inline-block;
    color: #fff; }
.toggle-button label {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-align: left; }
.toggle-button input {
    display: none; }
.toggle-button__icon {
    cursor: pointer;
    pointer-events: none; }
.toggle-button__icon:before, .toggle-button__icon:after {
    content: "";
    position: absolute;
    top: 45%;
    left: 35%;
    transition: 0.5s ease-out; }

/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--aava label {
    height: 50px;
    line-height: 50px;
    transition: all 0.5s;
    border-radius: 2rem; }
.toggle-button--aava label:before, .toggle-button--aava label:after {
    position: absolute;
    right: 1.5rem;
    transition: all 0.2s .1s ease-out; }
.toggle-button--aava label:before {
    content: attr(data-on-text); }
.toggle-button--aava label:after {
    content: attr(data-off-text); }

.toggle-button--aava input[type=checkbox] + label {
    width: 150px;
    background: #00aced; }
.toggle-button--aava input[type=checkbox] + label:before {
    opacity: 0;
    transform: translate(0, 20px); }
.toggle-button--aava input[type=checkbox] + label:after {
    opacity: 1;
    transform: translate(0, 0); }

.toggle-button--aava input[type=checkbox]:checked ~ label {
    width: 150px;
    background: #61B136; }
.toggle-button--aava input[type=checkbox]:checked ~ label:before {
    opacity: 1;
    transform: translate(0, 0); }
.toggle-button--aava input[type=checkbox]:checked ~ label:after {
    opacity: 0;
    transform: translate(0, -20px); }

.toggle-button--aava input[type=checkbox]:checked ~ .toggle-button__icon:before {
    transform: translate(-10%, 100%) rotate(45deg);
    width: 16.66667px; }

.toggle-button--aava input[type=checkbox]:checked ~ .toggle-button__icon:after {
    transform: translate(30%) rotate(-45deg); }

.toggle-button--aava .toggle-button__icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px; }
.toggle-button--aava .toggle-button__icon:before, .toggle-button--aava .toggle-button__icon:after {
    height: 3px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
.toggle-button--aava .toggle-button__icon:before {
    width: 25px;
    transform: rotate(45deg); }
.toggle-button--aava .toggle-button__icon:after {
    width: 25px;
    transform: rotate(-45deg); }

/* /CUSTOM BUTTON FOLLOW */


/* FIX BUG LARGEUR AUTCOMPLETIION VOYAGE HOMEPAGE*/
.easy-autocomplete{
    width:inherit !important;
}
/* /FIX BUG LARGEUR AUTCOMPLETIION VOYAGE HOMEPAGE*/


/* countries map page*/

.user-map-countries{
    padding-bottom: 50px;
    padding-top: 20px;
}
.user-map-markers{
    padding-top: 20px;
    padding-bottom: 75px;
}
#map_wrapper {
    height: 600px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
/* PAGE CONSULT TRIP */


.btn-default {
    color: #333;
    background-color: #009688;
    border-color: #009688;
    border-radius:0px;
    color:#fff;
}

#blog-section{margin-top:40px;margin-bottom:80px;}
.content-title{padding:5px;background-color:#fff;}
.content-title h3 a{color:#34495E;text-decoration:none; transition: 0.5s;}
.content-title h3 a:hover{color:#F39C12; }
.content-footer{background-color:#00aced;padding:10px;position: relative;}
.content-footer span a {
    color: #fff;
    display: inline-block;
    padding: 6px 5px;
    text-decoration: none;
    transition: 0.5s;
}
.content-footer span a:hover,
.content-footer span a:hover{
    color:#F39C12;
}
aside .img-center{
    min-height: 175px;
    max-height: 200px;
}
aside{
    padding-top: 40px;
    border-radius: 2px;
    background-color: #fff;
    margin-top: 30px;
    -webkit-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
    -moz-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
    box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);}
aside .content-footer>img {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid #fff;
}
aside .img-step{
    width:100%;
}

.user-ditels {
    width: 300px;
    top: -100px;
    height: 100px;
    padding-bottom: 99px;
    position: absolute;
    border: solid 2px #fff;
    background-color: #34495E;
    right: 25px;
    display: none;
    z-index: 1;
}

@media (max-width:768px){
    .user-ditels {
        right: 5px;
    }

}
.user-small-img{cursor: pointer;}

.content-footer:hover .user-ditels  {
    display: block;
}


.content-footer .user-ditels .user-img{width: 100px;height:100px;float: left;}
.user-full-ditels h3 {
    color: #fff;
    display: block;
    margin: 0px;
    padding-top: 10px;
    padding-right: 28px;
    text-align: right;
}
.user-full-ditels p{
    color: #fff;
    display: block;
    margin: 0px;
    padding-right: 20px;
    padding-top: 5px;
    text-align: right;}
.social-icon {
    background-color: #fff;
    margin-top: 10px;
    padding-right: 20px;
    text-align: right;
}
.social-icon>a{font-size:20px;text-decoration:none;padding: 5px;}
.social-icon a:nth-of-type(1){color:#4E71A8;}
.social-icon a:nth-of-type(2){color:#3FA1DA;}
.social-icon a:nth-of-type(3){color:#E3411F;}
.social-icon a:nth-of-type(4){color:#CA3737;}
.social-icon a:nth-of-type(5){color:#3A3A3A;}


/*recent-post-col////////////////////*/
.widget-sidebar {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
}

.title-widget-sidebar {
    font-size: 14pt;
    border-bottom: 2px solid #e5ebef;
    margin-bottom: 15px;
    padding-bottom: 10px;
    margin-top: 0px;
}

.title-widget-sidebar:after {
    border-bottom: 2px solid #f1c40f;
    width: 150px;
    display: block;
    position: absolute;
    content: '';
    padding-bottom: 10px;
}

.recent-post{width: 100%;height: 80px;list-style-type: none;}
.post-img img {
    width: 100px;
    height: 70px;
    float: left;
    margin-right: 15px;
    border: 5px solid #0084b4;
    transition: 0.5s;
}

.recent-post a {text-decoration: none;color:#34495E;transition: 0.5s;}
.post-img, .recent-post a:hover{color:#F39C12;}
.post-img img:hover{border: 5px solid #F39C12;}

/*===============ARCHIVES////////////////////////////*/



button.accordion {
    background-color: #0084b4;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #F39C12;color: #fff;
}

button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/*categories//////////////////////*/

.categories-btn{
    background-color: #F39C12;
    margin-top:30px;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

}
.categories-btn:after {
    content: '\25BA';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.categories-btn:hover {
    background-color: #0084b4;color: #fff;
}

.form-control{border-radius: 0px;}

.btn-warning {
    border-radius: 0px;
    background-color: #F39C12;
    margin-top: 15px;
}
.input-group-addon{border-radius: 0px;}

/* /PAGE CONSULT TRIP */

/* CAROUSEL REVIEW USER HP */
#quote-carousel
{
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
    left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
    right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
    background: #333333;
}

/* End carousel */

 .user-reviews blockquote ,
 .trip-desc blockquote {
    border-left: none !important;
    margin: 0;
}

blockquote{
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote p:before,
blockquote h2:before
{
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
        max-height: 200px;
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;

    }
}
#quote-carousel img{
    max-height: 125px;
}
/* /CAROUSEL REVIEW USER HP */

.member-trips  a{
    text-decoration: none !important;
}
/* /Consult voyage post*/
.trip-post {
    margin-top: 0;
    min-height: 500px;
    background-size: cover;
    display: table !important;
    width: 100%;
}

header h1 {
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    text-shadow: 2px 3px rgba(0,0,0,0.75);
}

.background-bar {
    background: #f2f2f2;
    height: 90px;
    -webkit-box-shadow: inset 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
}

.main-body {
    background: #ffffff;
    -webkit-box-shadow: 0px -4px 14px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px -4px 14px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px -4px 14px 0px rgba(50, 50, 50, 0.35);
}

.content-holder {
    margin-top: -140px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 2px;
}

.content-description {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: #fff;
    height: 130px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 12px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 12px 4px rgba(50, 50, 50, 0.75);
}
.content-body .col-sm-12{
    padding-top:10px;
    padding-bottom:45px;
}

.author-avatar {
    text-align:center;
    margin-top: -70px;
}
.author-avatar img {
    width: 100px;
    border: 4px solid #e8e8e8;
    -webkit-box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 12px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 12px 4px rgba(50, 50, 50, 0.75);
}
.author-name {
    text-align:center;
}

.author-name  a:hover{
    text-align:center;
    text-decoration:none;
}
.blog-info {
    padding-left: 25px;
}

.content-body {
    background: #fff;
    min-height: 600px;
    padding: 80px 5px;
    font-size: 1.2em;
    color: #303030;
}


@media(max-width:768px){
    header {
        min-height: 300px;
    }
    .author-avatar {
        margin-top: -50px;
    }
    .author-avatar img {
        width: 75px;
    }
    .author-name h3 {
        font-size: 1.2em;
    }
    .author-social {
        margin-top: -25px;
    }
    .author-social img {
        width: 32px;
    }
}

/* GOOGLE MAP INFO BOX */

.info_content{
    max-height:250px;
}
/* FORM REVIEW */

.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.review h1{
    font-size:35px;
    font-weight: 700;
    padding-bottom: 40px;
}
#review_review{
    min-height: 250px;
}

.edit-profile h1{
    font-size:35px;
    font-weight: 700;
    padding-bottom: 40px;
}

.alert-success-custom {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #009900;
    border-color: #006600;
}

#regions_div > Object {
    width : 100%;
}

/*  STEP RIBBON */
.step-block{
    position: relative;
    text-align: center;
    background-color: lightgrey;
    margin-top:25px;
    margin-bottom:25px;
    padding-top:55px !important;
    padding-bottom:25px !important;
}

.close-ribbon{
    position: absolute;
    top: 0;
    right: 1em;
    z-index: 1;
    color: #eee;
    font-size: 1.2em;
    line-height: 0.2em;
    -webkit-transition: line-height 0.5s;
    transition: line-height 0.5s;
}
.close-ribbon:after {
    content: "";
    position: absolute;
    height: 1.2em;
    border: 1.5em solid #00aced;
    z-index: -1;
    top: -1em;
    border-top-width: 2.1em;
    border-bottom-color: transparent;
    right: 0;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}
.close-ribbon:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent transparent #0084b4 transparent;
    top: -1em;
    right: 2.92em;
    border-width: 0 0 1em 0.7em;
    z-index: -1;
}

/* / STEP RIBBON */

/* RESET PASSSWORD PAGE */
.reset-password{
    padding-top: 50px;
    padding-bottom: 150px;
}
/* /RESET PASSSWORD PAGE */

/*HOMEPAGE USERS PICTURES */

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*=============== Home-team ===============*/

.home-doctors {
    text-align: center;

}

.home-doctors .common-doctor {
    background-color: #fff;
}
.home-doctors .common-doctor figure {
    overflow: hidden;
    width: 100%;
    height: 196px;
}

.home-doctors .common-doctor h5 {
    margin: 0 0 7px;
    font-size: 18px;
    font-weight: 700;
    color: #3a3c41;
}
.home-doctors .common-doctor .for-border {
    margin-bottom: 20px;
}
.home-doctors .common-doctor .text-content {
    padding: 19px 14px 13px;
}
.home-doctors.doctors-var-two {
    text-align: left;
    background-color: #fff;
}
.home-doctors.doctors-var-two .slogan-section {
    text-align: left;
}
.home-doctors.doctors-var-two .common-doctor {
    background-color: transparent;
}
.home-doctors.doctors-var-two .common-doctor .for-border {
    display: none;
}
.home-doctors.doctors-var-two .common-doctor .text-content {
    padding: 20px 0 20px;
}
.home-doctors.doctors-var-two .text-center {
    text-align: left;
}

.slogan-section {
    margin-bottom: 50px;
    text-align: center;
}

.home-doctors .common-doctor .for-border {
    margin-bottom: 20px;
}

.for-border {
    height: 11px;
    width: 100%;
    border: none;
}

.home-doctors .common-doctor h5 small {
    color: #008fd5;
    font-weight: bold;
    font-size: 0.8em;
    font-style: italic;
}

.home-doctors .common-doctor ul{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -28px;
    text-align: center;
    margin-top: 10em;
    opacity: 0;
    z-index: 1;
}

.home-doctors .common-doctor li a {
    background: #008fd5;
    color: white;
    padding: 0.75em;
    border: 5px solid rgba(255, 255, 255, 0.33);
}


.doc-img{
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
-webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1, 1);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1, 1);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;
}

.doc-item:hover .doc-img{
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1.1, 1.1); // This is the enlarged size scale of the image.
-webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1.20, 1.20);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;

    opacity: 0.7;
}

.doc-item:hover .social-lists{
    margin-top: -2em;
    opacity: 1;
}

/*HOMEPAGE USERS PICTURES */
