{% trans_default_domain 'FOSUserBundle' %}

<p>Hello {{ user.username }} !</p>
<p>Thanks for joining us on travellink</p>
<p>To confirm your subscription, you have to click on the following link : </p>
<a href="{{ confirmationUrl }}"> Validate my subscription ! </a>