{% trans_default_domain 'FOSUserBundle' %}

<p>Bonjour {{ user.username }} !</p>
<p>Merci de vous être inscrit sur notre plateforme d'échange de voyages.</p>
<p>Afin de confirmer votre inscription , veuillez cliquer sur le lien suivant : </p>
<a href="{{ confirmationUrl }}"> Valider mon inscription ! </a>